<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>

<body>
	<div id="app">
		<%- include('includes/sidebar.ejs') %>
		<div id="main">
			<%- include('includes/nav.ejs') %>
			<div class="main-content container-fluid">
				<div class="page-title">
					<div class="row">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>Add User</h3>
						</div>
						<div class="col-12 col-md-6 order-md-2 order-first">
							<nav aria-label="breadcrumb" class="breadcrumb-header">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="/" class="text-success">Dashboard</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">
										Add User
									</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<!-- // Basic multiple Column Form section start -->
				<section id="multiple-column-form">
					<div class="row match-height">
						<div class="col-12">
							<div class="card">
								<div class="card-content">
									<div class="card-body">
										<form class="form" method="post" action="/user/add">
											<div class="row">
												<div class="col-md-4 col-12">
													<div class="form-group has-icon-left">
														<label for="firstname">First Name</label>
														<div class="position-relative">
															<input type="text" class="form-control"
																placeholder="First Name" required
																id="firstname" name="firstname"/>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-12">
													<div class="form-group has-icon-left">
														<label for="middlename">Middle Name</label>
														<div class="position-relative">
															<input type="text" class="form-control"
																placeholder="Middle Name" required
																id="middlename" name="middlename" />
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-12">
													<div class="form-group has-icon-left">
														<label for="lastname">Last Name</label>
														<div class="position-relative">
															<input type="text" class="form-control"
																placeholder="Last Name" id="lastname"
																name="lastname" required />
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-12">
													<div class="form-group has-icon-left">
														<label for="contact">Contact</label>
														<div class="position-relative">
															<input type="text" class="form-control"
																placeholder="Contact" id="contact"
																name="contact"  required/>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-12">
													<div class="form-group has-icon-left">
														<label for="email">Email</label>
														<div class="position-relative">
															<input type="email" class="form-control"
																placeholder="Email" id="email"
																name="email" required />
															<div class="form-control-icon">
																<i class="fa fa-envelope"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="username">Username</label>
														<div class="position-relative">
															<input type="text" class="form-control"
																placeholder="Username" id="username"
																name="username" required />
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="password">Password</label>
														<div class="position-relative">
															<input type="password" class="form-control"
																placeholder="Password" name="password"
																id="password" required />
															<div class="form-control-icon">
																<i class="fa fa-key"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="role">User
															Category</label>
														<div class="position-relative">
															<fieldset class="form-group">
																<select class="form-select"
																	id="role" name="role" required>
																	<option value="admin">
																		Admin
																	</option>
																	<option value="user">
																		User
																	</option>
																</select>
															</fieldset>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="dateOfBirth">Date of Birth</label>
														<div class="position-relative">
															<input type="date" class="form-control"
																placeholder="Last Name" id="dateOfBirth"
																name="dateOfBirth" required/>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="department">Department</label>
														<div class="position-relative">
															<select class="form-control" name="department" id="department" required>
																<% for(let designation of designations) { %>
																	<option value="<%= designation.departmentId._id %>"><%= designation.departmentId.departmentName %></option>
																<% } %>
															</select>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="designation">Designation</label>
														<div class="position-relative">
															<select class="form-control" name="designation" id="designation" required>
																<% for(let designation of designations) { %>
																	<option value="<%= designation._id %>"><%= designation.designation %></option>
																<% } %>
															</select>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<label for="isActive">A/c Status</label>
														<div class="position-relative">
															<select class="form-control" name="isActive" id="isActive" required>
																	<option selected value="true">Active</option>
																	<option value="false">Not Active</option>
															</select>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-12">
													<div class="form-group has-icon-left">
														<div class="position-relative">
															<label for="profileImage">Profile Image</label>
															<div class="position-relative">
																<input type="file" class="form-control"
																	id="profileImage" name="profileImage" />
																	<div class="form-control-icon">
																		<i class="fa fa-user"></i>
																	</div>
															</div>
														</div>
													</div>
												</div>
												
												<input type="hidden" name="_csrf" value="<%= csrfToken %>">
												<div class="col-12 d-flex justify-content-end">
													<button type="submit" class="btn btn-primary me-1 mb-1">
														Submit
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- // Basic multiple Column Form section end -->
			</div>
		</div>
	</div>
	<%- include('includes/end.ejs') %>
	<script>
		dateOfBirth.max = new Date().toISOString().split("T")[0];
	</script>
</body>

</html>