<!DOCTYPE html>
<html lang="en">
   <%- include('includes/head.ejs') %>
	<body>
      <div id="app">
         <%- include('includes/sidebar.ejs') %>
         <div id="main">
            <%- include('includes/nav.ejs') %>
            <div class="main-content container-fluid">
					<div class="page-title">
						<div class="row">
							<div class="col-12 col-md-6 order-md-1 order-last">
								<h3>Manage User</h3>
							</div>
							<div class="col-12 col-md-6 order-md-2 order-first">
								<nav
									aria-label="breadcrumb"
									class="breadcrumb-header"
								>
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a
												href="/"
												class="text-success"
												>Dashboard</a
											>
										</li>
										<li
											class="breadcrumb-item active"
											aria-current="page"
										>
											Manage User
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<section class="section">
						<div class="card">
							<div class="card-body">
								<% if(users.length === 0) { %>
									<p>No Users Found</p>
								<% } else { %>
									<%- include('includes/pagination.ejs') %>
									<table class="table" id="table1">
										<thead>
											<tr>
												<th><a href="?search=<%= search %>&page=<%= currentPage %>&limit=<%= limit %>&field=firstname&order=<%= order %>">Full Name</a></th>
												<th><a href="?search=<%= search %>&page=<%= currentPage %>&limit=<%= limit %>&field=email&order=<%= order %>">Email</a></th>
												<th><a href="?search=<%= search %>&page=<%= currentPage %>&limit=<%= limit %>&field=contact&order=<%= order %>">Contact</a></th>
												<th><a href="?search=<%= search %>&page=<%= currentPage %>&limit=<%= limit %>&field=role&order=<%= order %>">Category</a></th>
												<th><a href="?search=<%= search %>&page=<%= currentPage %>&limit=<%= limit %>&field=isActive&order=<%= order %>">Status</a></th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<% for(let usr of users) { %>
											<form class="" action="/user/<%= usr._id %>/delete" method="post">
												<tr>
													<td><%= `${usr.firstname} ${usr.middlename} ${usr.lastname}` %></td>
													<td><%= usr.email %></td>
													<td><%= usr.contact %></td>
													<td><%= usr.role.toUpperCase() %></td>
													<td>
														<span class="badge <%= usr.isActive ? 'bg-success': 'bg-danger' %>"
															><%= usr.isActive ? 'Active' : 'Inactive' %></span
														>
													</td>
													<input type="hidden" name="_csrf" value="<%= csrfToken %>">
													<td>
														<a href="/user/<%= usr._id %>"
															><i
																class="fa fa-pen text-success"
															></i
														></a>
															<button class="btn" type="submit"><i
																	class="fa fa-trash text-danger"
																></i
															></button>
													</td>
												</tr>
											</form>
											<% } %>
										</tbody>
									</table>
								<% } %>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
      <%- include('includes/end.ejs') %>
	</body>
</html>
