<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>

<body>
	<div id="app">
		<%- include('includes/sidebar.ejs') %>
		<div id="main">
			<%- include('includes/nav.ejs') %>
			<div class="main-content container-fluid">
				<div class="page-title">
					<div class="row">
						<div class="col-12 col-md-6 order-md-1 order-last">
							<h3>Apply for Leave</h3>
						</div>
						<div class="col-12 col-md-6 order-md-2 order-first">
							<nav aria-label="breadcrumb" class="breadcrumb-header">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="/" class="text-success">Dashboard</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">
										Leave Application
									</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<!-- // Basic multiple Column Form section start -->
				<section id="multiple-column-form">
					<div class="row match-height">
						<div class="col-12">
							<div class="card">
								<div class="card-content">
									<div class="card-body">
										<form class="form" action="/leave/apply" method="post">
											<div class="row">
												<div class="col-md-6 col-12">
													<div class="form-group has-icon-left">
														<label for="description">Description</label>
														<div class="position-relative">
															<input type="text" class="form-control"
																placeholder="Description" id="description"
																name="description" />
															<div class="form-control-icon">
																<i class="fa fa-hash"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-12">
													<div class="form-group has-icon-left">
														<label for="leaveType">Select Leave
															Type</label>
														<div class="position-relative">
															<fieldset class="form-group">
																<select class="form-select"
																	id="leaveType" name="leaveType">
																	<% for(let type of leaveType) { %>
																		<option value="<%= type._id %>"><%= type.leaveType %></option>
																	<% } %>
																</select>
															</fieldset>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-12">
													<div class="form-group has-icon-left">
														<label for="fromDate">From
															Date</label>
														<div class="position-relative">
															<input type="date" class="form-control"
																id="fromDate" name="fromDate"/>
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6 col-12">
													<div class="form-group has-icon-left">
														<label for="toDate">To Date</label>
														<div class="position-relative">
															<input type="date" class="form-control"
																placeholder="first name"
																id="toDate" name="toDate" />
															<div class="form-control-icon">
																<i class="fa fa-user"></i>
															</div>
														</div>
													</div>
												</div>
												<input type="hidden" name="_csrf" value="<%= csrfToken %>">
												<input type="hidden" name="recaptchaToken" id="recaptchaToken">
												<div class="col-12 d-flex justify-content-end">
													<button type="submit" class="btn btn-primary me-1 mb-1" onclick="onClick(event)">
														Submit
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- // Basic multiple Column Form section end -->
			</div>
		</div>
	</div>
	<%- include('includes/end.ejs') %>
</body>

</html>